.body {
  background-color: beige;
  font-family: monospace;
}

.top-heading {
  color: rgb(19, 114, 202);
}

.small-image {
  max-width: 50px;
}

.large-image {
  max-width: 150px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.item {
  flex: 0 0 calc(33.33% - 10px);
  box-sizing: border-box;
  margin: 50px 50px 50px 50px;
}

.grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.center {
  text-align: center;
}